* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    z-index: 3;
}

.logo {
    width: 125px
}

.navegacion {
    display: flex;
    align-items: center;
    font-size: x-large;
}

.navegacion a {
    text-decoration: none;
}

.navegacion a li {
    list-style: none;
    padding: 0 6px;
    margin: 10px;
    color: rgb(68, 117, 207);
    text-transform: uppercase;
}